@import "@styles/settings/__settings";

.button {
  font-size: 1em;
  color: white;
  font-family: $font-family-display;
  font-weight: bold;
  text-transform: uppercase;
  background-color: $colorGreen;
  border: none;
  padding: .6em 1em;
  cursor: pointer;
}