@import "@styles/settings/__settings";
@import "@styles/util/__util";

.grid {
  display: grid;
  grid-gap: 3em;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  list-style: none;
  padding: 0;
  margin-top: 3rem;
}

.product {
  width: 100%;
}

.productTitle {
  font-size: 1.4em;
  font-family: $font-family-display;
  font-weight: bold;
  margin: .4em 0 0;
}

.productPrice {
  font-size: 1em;
  margin: .4em 0 0;
}


.productImage {

  @extend %card-image;
  transform: rotate(-2deg) scale(.9) translateY(-1em);
  transition: transform .1s;

  &:hover {
    transform: rotate(0) scale(1) translateY(-1em);
    transition: transform .2s;
  }

}